<h1>Welcome to {{ hotelName }}</h1>
<div [hidden]="showRooms">
  <h3>Number of rooms:</h3>
  <p
  [ngStyle]="{'color': rooms.availableRooms ? 'green' : 'red'}" 
  [innerText]="numberOfRoms"
  ></p>
</div>

<!-- {{roomList | json}} -->

{{rooms?.availableRooms ?? "No rooms"}}

<div *ngIf="selectedRooms">
  {{selectedRooms | json}}
</div>

<div *ngIf="rooms.availableRooms > 0 ">
  <hinv-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)" ></hinv-rooms-list>
  <!-- <button type="button" class="btn btn-danger">Select</button> -->
</div>
<button (click)="increaseNumOfRooms()" type="button" class="btn btn-primary">Toggle</button>
